.folder {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    background-color: #ecd66f;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.folder:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #ecd66f;
    position: absolute;
    top: -12px;
    left: 0px;
}

.playlist {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    background-color: #9A3D3D;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.playlist:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #9A3D3D;
    position: absolute;
    top: -12px;
    left: 0px;
}

.lesson {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    background-color: #586BCE;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.lesson:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #586BCE;
    position: absolute;
    top: -12px;
    left: 0px;
}

.folder, .playlist, .lesson {
    width: 120px;
    height: 84px;
    border-radius: 0 4.8px 4.8px 4.8px;
}

.folder:before, .playlist:before, .lesson:before {
    height: 9.6px;
    border-radius: 0 16px 0 0;
    top: -9.6px;
}

.click-play {
    transform: scale(0.8);
}

.click-play:hover {
    cursor: pointer;
    transform: scale(0.9);
}


.btn-play {
    top: 13px;
    margin-left: 41px;
}

@media screen and (max-width: 992px){
    .folder, .playlist, .lesson {
        width: 90px;
        height: 63px;
        border-radius: 0 3.6px 3.6px 3.6px;
    }

    .folder:before, .playlist:before, .lesson:before {
        height: 7.2px;
        border-radius: 0 12px 0 0;
        top: -7.2px;
    }

    .click-play {
        transform: scale(0.6);
    }

    .click-play:hover {
        cursor: pointer;
        transform: scale(0.7);
    }


    .btn-play {
        top: 2px;
        margin-left: 23px;
    }
}

/* On small screens*/
@media screen and (max-width: 767px) {
    .folder, .playlist, .lesson {
        width: 60px;
        height: 42px;
        border-radius: 0 2.4px 2.4px 2.4px;
    }

    .folder:before, .playlist:before, .lesson:before {
        height: 4.8px;
        border-radius: 0 8px 0 0;
        top: -4.8px;
    }

    .click-play {
        transform: scale(0.4);
    }

    .click-play:hover {
        cursor: pointer;
        transform: scale(0.5);
    }


    .btn-play {
        top: -10px;
        margin-left: 6px;
    }
}