.folder {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    background-color: #ecd66f;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.folder:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #ecd66f;
    position: absolute;
    top: -12px;
    left: 0px;
}

.playlist {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    background-color: #9A3D3D;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.playlist:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #9A3D3D;
    position: absolute;
    top: -12px;
    left: 0px;
}

.lesson {
    width: 150px;
    height: 105px;
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    background-color: #586BCE;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
}

.lesson:before {
    content: '';
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #586BCE;
    position: absolute;
    top: -12px;
    left: 0px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid green;
}

.arrow-right:hover {
    width: 0;
    height: 0;
    border-top: 40vw solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 60px solid green;
}

.folder, .playlist, .lesson {
    transform: scale(0.8);
}

@media screen and (max-width: 992px){
    .folder, .playlist, .lesson {
        transform: scale(0.6);
    }
}

/* On small screens*/
@media screen and (max-width: 767px) {
    .folder, .playlist, .lesson {
        transform: scale(0.4);
    }
}