.song-playlist-container {
    width: 100vw;
    height: 100vh;
}

.song-close > a {
    color: #515151;
}

.song-close > a:hover {
    text-decoration: none;
    color: #000000;
}

.song-close {
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 40px;
    z-index: 9;
}

.song-main {
    background-color: #e3e3e3;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px;
}

.song-view {
    margin: auto;
}

.song-play-favorite {
    margin-top: 30px;
    margin-right: 20px;
    font-family: raleway;
    font-weight: bolder;
    text-align: right;
}

.song-play-favorite > label{
    font-weight: bold;
    font-size: 15px;
}

.song-video {
    width: 60vw;
    height: 40vw;
    margin-top: 20px;
    margin-buttom: 20px;
}

.song-play-sequence {
    font-family: raleway;
    font-weight: lighter;
}

.song-sequence-list-container {
    text-align: center;
}

.song-sequence-list {
    list-style: none;
    padding-left: 0px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.song-sequence-list > li {
    margin: 15px;
    display: inline;
}

.song-sequence-list > li > label{
    font-weight: bold;
    font-size: 15px;
}

.song-list {
    background-color: #3b3b3b;
    height: 100vh;
    min-height: 200px;
    overflow: scroll;
    padding: 0px;
}

.songs {
    list-style: none;
    padding-left: 0px;
}

.songs > li {
    padding-left: 10px;
    padding-right: 10px;
}

.songs > li:hover {
    /*cursor: pointer;*/
    background-color: rgba(0, 0, 0, 0.43);
}

.songs > .playing {
    background-color: rgba(255, 255, 255, 0.08);
}

.each-song {
    display: flex;
    align-items: center;
}

.heart {
    color: white;
}

.video-thumbnail {
    width: 55px;
    height: 40px;
    margin: 10px;
}

.song-text {
    color: white;
    max-width: calc(100% - 100px);
    min-width: calc(100% - 100px);
    width: calc(100% - 100px);
}

.song-title {
    font-family: raleway;
    font-weight: bold;
    font-size: 15px;
}

.song-info {
    font-size: 13px;
    font-weight: lighter;
}

@media only screen and (max-width : 1200px) {
    .song-video {
        width: 55vw;
        height: 35vw;
    }
}

@media only screen and (max-width : 979px) {
    .song-video {
        width: 550px;
        height: 350px;
    }

    .song-main {
        height: 480px;
    }

    .song-list {
        height: calc(100vh - 430px);
    }

    .song-close {
        top: -5px;
        left: 10px;
    }

    .song-title {
        font-size: 13px;
    }

    .song-info {
        font-size: 10px;
    }
}

@media only screen and (max-width : 767px) {
    .song-video {
        width: 470px;
        height: 300px;
    }

    .song-main {
        height: 430px;
    }

    .song-list {
        height: calc(100vh - 430px);
    }

    .song-close {
        top: -5px;
        left: 10px;
    }

    .song-title {
        font-size: 13px;
    }

    .song-info {
        font-size: 10px;
    }
}

@media only screen and (max-width : 480px) {
    .song-video {
        width: 95vw;
        height: 250px;
        margin: auto;
    }

    .song-main {
        height: 400px;
    }

    .song-list {
        height: calc(100vh - 400px);
    }

    .song-title {
        font-size: 13px;
    }

    .song-info {
        font-size: 10px;
    }
}