body {
    background-color: #EBEBEB;
    /*font-family: 'Raleway', sans-serif;*/
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set black background color, white text and some padding */
footer {
    position: fixed;
    width: 100vw;
    bottom: 0px;
    background-color: #cccccc;
    color: white;
    padding: 15px;
}

.navbar-toggle {
    border: 0px;
}

.navbar-toggle {
    background-color: #FF7C7C;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover:active, .btn-primary:hover {
    background-color: rgba(0,0,0,0.1);
    border: 0px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(0,0,0,0.1);
}

.form-control {
    /*border-radius: 13px;*/
    border: 0px solid lightgrey;
}

.login-form {
    display: inline-block;
}

.login-container {
    display: flex;
    align-items: center;
}

.push-buttom {
    margin-bottom: 20px;
}

.bordered {
    border: 1px solid lightgrey;
}

.signup-form {
    text-align: center;
    margin: auto;
    width: 500px;
    margin-top: 100px;
}

.signup-title {
    color: #FF7C7C;
    font-size: 40px;
}

.btn-normal {
    background-color: #FF7C7C;
}

.toggler {
    font-size: 30px;
    color: white;
}

nav {
    z-index: 1001;
}

.profile-preview {
    /*background-image: ;*/
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.search-box {
    margin: auto;
    width: 100%;
    font-size: 16px;
    background-color: #FFC3C3;
    background-image: url('../img/searchIcon.svg');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding: 12px 5px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-box::-webkit-input-placeholder {
    color: white;
}

.search-box:-moz-placeholder {
    color: white;
    opacity:  1;
}

.search-box::-moz-placeholder {
    color: white;
    opacity:  1;
}

.search-box:-ms-input-placeholder {
    color: white;
}

.search-box::-ms-input-placeholder {
    color: white;
}

.search-box:focus {
    width: 100%;
    background-color: #FFC3C3;
}

.search-container {
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
}

.search-container form {
    margin-bottom: 0px;
}

.user-display {
    margin-top: 20px;
    text-align: center;
}

.display-profile {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 60px;
}

.display-name {
    margin: auto;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 3px;
}

.btn-edit {
}

.icon {
    width: 60px;
    font-size: 20px;
    text-align: center;
}

.count-gift {
    background-color: #e80000;
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    margin-left: 5px;
}

.click-play:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.home-nav {
    list-style: none;
    color: grey;
    padding: 0px;
    text-align: center;
}

.home-nav li {
    display: inline;
    padding: 7px;
    margin: 3px;
}

.home-nav li:hover {
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    cursor: pointer;
}

.active-nav {
    background-color: rgba(0,0,0,0.33);
    color: white;
}

.directories {
    color: black;
    display: inline-block;
    width: 700px;
    max-width: 93vw;
}

.dir-container {
    background-color: white;
    width: calc(100% - 50px);
    text-align: left;
    float: left;
    padding: 5px;
    padding-left: 8px;
    border-radius: 10px;
    overflow-x: scroll;
    white-space: nowrap;
}

.back-dir {
    color: grey;
    width: 50px;
    display: inline-block;
    float: left;
    font-size: 30px;
}

.back-dir:hover {
    cursor: pointer;
}

.dir {
    color: grey;
    background-color: transparent;
    border-radius: 5px;
    padding: 2px;
}

.mapper {
    font-size: 10px;
    color: darkgrey;
}

.last-dir {
    color: white;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 2px;
}

.dir:hover {
    color: white;
    background-color: #7391bd;
    cursor: pointer;
}

.create-folder {
    width: 350px;
    max-width: 95vw;
    color: white;
}

.new {
    border: 1px solid grey;
    padding: 4px 8px 4px 8px;
    border-radius: 20px;
}

.newfolder {
    background-color: #e5d799;
}

.newplaylist {
    background-color: #d9b6b6;
}

.newlesson {
    background-color: #9faacc;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    nav {
        z-index: 999;
    }

    .login-container {
        display: block;
        align-items: center;
    }

    .login-form {
        display: block;
    }

    .row.content {height:auto;}

    .login-form form div input{
        margin: auto;
    }

    .push-buttom-s {
        margin-bottom: 10px;
    }

    .input-login {
        width: 80%;
    }

    .signup-form {
        width: 90%;
        margin-top: 39px;
    }

    .signup-title {
        font-size: 6vw;
    }

    .blocker {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        z-index: -10;
        opacity: 0;
        animation-duration: 200ms;
    }
    
    .blocker:hover {
        cursor: pointer;
    }

    .search-container {
        margin-right: 0px;
        margin-left: auto;
        width: calc(100% - 80px);
    }

    .search-box {
        cursor: pointer;
        background-color: transparent;
        width: 40px;
        margin-right: 5px;
        margin-left: auto;
    }

    .search-box:focus {
        cursor: text;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        z-index: 1000;
    }

    to {
        opacity: 0;
        z-index: -1000;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        z-index: 1000;
    }

    to {
        opacity: 1;
        z-index: 1000;
    }
}

.thinScroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0);
    background-color: transparent;
}

.thinScroll::-webkit-scrollbar
{
    height: 6px;
    background-color: transparent;
}

.thinScroll::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    background-color: #858585;
}