body {
    background-color: #EBEBEB;
    /*font-family: 'Raleway', sans-serif;*/
    color: #4a4a4a;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set black background color, white text and some padding */
footer {
    position: fixed;
    width: 100vw;
    bottom: 0px;
    background-color: #cccccc;
    color: white;
    padding: 15px;
}

.top-margin {
    margin-top: 50px;
}

.navbar-toggle {
    border: 0px;
}

.navbar-toggle {
    background-color: #FF7C7C;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover:active, .btn-primary:hover {
    background-color: rgba(0,0,0,0.1);
    border: 0px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(0,0,0,0.1);
}

.form-control {
    /*border-radius: 13px;*/
    border: 0px solid lightgrey;
}

.login-form {
    display: inline-block;
}

.login-container {
    display: flex;
    align-items: center;
}

.push-buttom {
    margin-bottom: 20px;
}

.bordered {
    border: 1px solid lightgrey;
}

.signup-form {
    text-align: center;
    margin: auto;
    width: 500px;
    margin-top: 100px;
}

.signup-title {
    color: #FF7C7C;
    font-size: 40px;
}

.btn-normal {
    background-color: #FF7C7C;
}

.toggler {
    font-size: 30px;
    color: white;
}

nav {
    z-index: 1001;
}

.profile-preview {
    /*background-image: ;*/
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.search-box {
    margin: auto;
    width: 100%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.42);
    background-image: url('../img/searchIcon.svg');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding: 12px 5px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-box::-webkit-input-placeholder {
    color: white;
}

.search-box:-moz-placeholder {
    color: white;
    opacity:  1;
}

.search-box::-moz-placeholder {
    color: white;
    opacity:  1;
}

.search-box:-ms-input-placeholder {
    color: white;
}

.search-box::-ms-input-placeholder {
    color: white;
}

.search-box:focus {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.55);
}

.search-container {
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
}

.search-container form {
    margin-bottom: 0px;
}

.user-display {
    margin-top: 20px;
    text-align: center;
}

.display-profile {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 60px;
}

.display-name {
    margin: auto;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 3px;
}

.btn-edit {
}

.icon {
    width: 60px;
    font-size: 20px;
    text-align: center;
}

.count-gift {
    background-color: #e80000;
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
    margin-left: 5px;
}

.home-nav {
    list-style: none;
    color: grey;
    padding: 0px;
    text-align: center;
}

.home-nav li {
    display: inline;
    margin: 3px;
}

.home-nav li a {
    padding: 7px;
    text-decoration: none;
    color: #8a8a8a;
}

.home-nav li a:hover {
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    cursor: pointer;
}

.active-nav a {
    background-color: rgba(0,0,0,0.33);
    color: white !important;
}

.directories {
    color: black;
    display: inline-block;
    width: 700px;
    max-width: 93vw;
}

.dir-container {
    background-color: white;
    width: calc(100% - 50px);
    text-align: left;
    float: left;
    padding: 5px;
    padding-left: 8px;
    border-radius: 10px;
    overflow-x: scroll;
    white-space: nowrap;
}

.back-dir {
    color: grey;
    width: 50px;
    display: inline-block;
    float: left;
    font-size: 30px;
}

.back-dir:hover {
    cursor: pointer;
}

.dir {
    color: grey;
    background-color: transparent;
    border-radius: 5px;
    padding: 2px;
}

.mapper {
    font-size: 10px;
    color: darkgrey;
}

.last-dir {
    color: white;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 2px;
}

.dir:hover {
    color: white;
    background-color: #7391bd;
    cursor: pointer;
}

.create-folder {
    width: 350px;
    max-width: 95vw;
    color: white;
}

.dropdown-menu {
    padding: 0px;
}

.dropdown-menu li {
    padding: 5px;
    padding-left: 20px;
}

.dropdown-menu li:hover {
    cursor: pointer;
}

.dropdown-menu .fd, .dropdown-menu .pl, .dropdown-menu .ls {
    background-color: rgba(129, 129, 129, 0.39);
}

.dropdown-menu .fd:hover {
    background-color: #aba667;
}

.dropdown-menu .pl:hover {
    background-color: #af4747;
}

.dropdown-menu .ls:hover {
    background-color: #44539f;
}

.fold-text {
    margin-left: 30px;
}

.fold-name {
    color: #4a4a4a;
    font-weight: normal;
    font-size: 25px;
}

.fold-info {
    font-weight: lighter;
    color: #c4c4c4;
    font-size: 20px;
    margin-left: 10px;
}

.folder-setting {
    float: right;
    color: grey;
    margin-right: 0px;
    margin-left: auto;
    font-size: 35px;
    text-align: center;
}

.folder-setting:hover {
    cursor: pointer;
}

.tree-dots {
    padding-left: 10px;
    padding-right: 10px;
}

.each-folder {
    margin: auto;
    max-width: 1400px;
}

.folder-group {
    padding-left: 0px;
}

.folder-group > li {
    padding: 40px;
}

.folder-group > li:hover {
    background-color: #dddddd;
}

.setting-option {
    left: -150px;
    top: -30px;
    padding: 0px;
}

.set-opt {
    padding-left: 0px !important;
}

.select-all {
    font-size: 18px;
    font-weight: lighter;
}

.favorite-thumbnail {
    width: 80px;
    height: 55px;
    margin-left: 20px;
}

.fav-title {
    font-size: 19px;
}

.fav-dir {
    font-weight: lighter;
    color: grey;
    font-size: 15px;
}

.fav-text {
    margin-left: 30px;
}

.list-favorite li {
    padding: 15px;
}

.list-favorite li:hover {
    background-color: #e3e3e3;
}

.setting-container {
    max-width: 1000px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    padding: 50px;
    margin: auto;
}

.setting-table {
    font-weight: lighter;
    max-width: 800px;
    margin: auto;
    font-size: 1.5em;
}

.suicide {
    padding-left: 0px;
}

.logout {
    font-size: 1.5em;
    font-weight: lighter;
    padding: 4px;
    margin-top: 20px;
}

.setting-title {
    font-weight: normal;
}

.each-connection {
    padding: 10px;
}

.connection-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.connection-action {
    position: absolute;
    top: 11px;
    right: 20px;
    font-size: 20px;
}

.connection-profile {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.connection-text {
    margin-left: 10px;
}

.connection-name {
    font-family: raleway;
    font-weight: bold;
    font-size: 20px;
}

.connection-description {
    font-weight: lighter;
    font-size: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    nav {
        z-index: 999;
    }

    .login-container {
        display: block;
        align-items: center;
    }

    .login-form {
        display: block;
    }

    .row.content {height:auto;}

    .login-form form div input{
        margin: auto;
    }

    .push-buttom-s {
        margin-bottom: 10px;
    }

    .input-login {
        width: 80%;
    }

    .signup-form {
        width: 90%;
        margin-top: 39px;
    }

    .signup-title {
        font-size: 6vw;
    }

    .blocker {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        z-index: -10;
        opacity: 0;
        animation-duration: 200ms;
    }
    
    .blocker:hover {
        cursor: pointer;
    }

    .search-container {
        margin-right: 0px;
        margin-left: auto;
        width: calc(100% - 80px);
    }

    .search-box {
        cursor: pointer;
        background-color: transparent;
        width: 40px;
        margin-right: 5px;
        margin-left: auto;
    }

    .search-box:focus {
        cursor: text;
    }

    .fold-text {
        margin-left: 20px;
        word-wrap: break-word;
    }

    .fold-name {
        font-size: 16px;
    }

    .fold-info {
        font-size: 13px;
    }

    .folder-setting {
        font-size: 20px;
    }

    .each-folder {
        margin-top: 0px;
    }

    .folder-group > li {
        padding: 20px;
    }

    .favorite-thumbnail {
        width: 40px;
        height: 30px;
        margin-left: 10px;
    }

    .fav-title {
        font-size: 14px;
    }

    .fav-dir {
        font-size: 12px;
    }

    .fav-text {
        margin-left: 15px;
    }

    .setting-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .setting-table {
        font-size: 1em;
    }

    .suicide {
        padding-left: 30px;
    }

    .logout {
        font-size: 1em;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        z-index: 1000;
    }

    to {
        opacity: 0;
        z-index: -1000;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        z-index: 1000;
    }

    to {
        opacity: 1;
        z-index: 1000;
    }
}

.thinScroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0);
    background-color: transparent;
}

.thinScroll::-webkit-scrollbar
{
    height: 6px;
    background-color: transparent;
}

.thinScroll::-webkit-scrollbar-thumb
{
    /*border-radius: 20px;*/
    background-color: rgba(0, 0, 0, 0.45);
}

.mediumScroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0);
    background-color: transparent;
}

.mediumScroll::-webkit-scrollbar
{
    width: 7px;
    background-color: transparent;
}

.mediumScroll::-webkit-scrollbar-thumb
{
    /*border-radius: 20px;*/
    background-color: rgba(0, 0, 0, 0.45);
}

.bigScroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0);
    background-color: transparent;
}

.bigScroll::-webkit-scrollbar
{
    width: 9px;
    background-color: transparent;
}

.bigScroll::-webkit-scrollbar-thumb
{
    /*border-radius: 20px;*/
    background-color: rgba(0, 0, 0, 0.45);
}